* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
a {
	display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  list-style: none;
}
.clearfix::after {
	display: table;
	content: "";
	clear: both;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.header {
	padding-top: 45px;
	padding-bottom: 30px;
}
.logo {
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #555252;

	float: left;
}
.logo::first-letter {
	font-size: 30px;
	font-weight: 900;
	color: #1abc9c;
}
.header__list {
	margin-top: 7px;
	float: right;
}
.header__list-item {
	float: left;
}
.header__list-item:not(:last-child) {
	margin-right: 35px;
}
.header__list-link {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #0f0101;
}
.header__list-link:hover {
	color: #1abc9c;
}
/********** SLIDER **********/
.slider {
	background-image: url(../img/slider.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	height: 600px;

	position: relative;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	background-color: rgba(0, 0, 0, .5);
	padding-top: 220px;
}
.slider__title,
.slider__subtitle {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.slider__title {
	font-size: 60px;
	font-weight: 900;
	padding-bottom: 40px;
}
.slider__subtitle {
	font-size: 24px;
	font-weight: 300;
}


.Rectangle_5 {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  position: absolute;
  left: 245px;
  top: 316px;
  width: 104px;
  height: 104px;
  z-index: 79;
}
